/* .layout,
.logo,
.form,
.background {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo,
.form,
.background {
  width: 100%;
}
.logo,
.background,
.layout {
  background-repeat: no-repeat;
}
.layout,
.background {
  min-height: 100vh;
}
.logo,
.form {
  position: relative;
}
.form {
  height: 70vh;
}
.layout {
  background-color: transparent;
}
.logo {
  align-items: end;
  background-image: url(../../img/Login.png);
}
.logo::after {
  content: "Finance app";
  color: var(--black);
  font-size: 46px;
  font-weight: 400;
}
@media (max-width: 767px) {
  .logo {
    display: none;
  }
}

@media (min-width: 768px) {
  .layout {
    flex-direction: column;
    width: 768px;
  }
  .logo {
    background-position: left 25% bottom 50%;
    background-size: 260.26px, 250px;
    height: 30vh;
  }
  .logo::after {
    position: relative;
    font-size: 40px;
    bottom: 100px;
    left: 150px;
  }

  .background {
    height: 100vh;
    background-color: #e7eaf2;
    background-image: url(../../img/Ellipse1.png),
      url(../../img/EllipseDesktop2.png);
    background-position: bottom left, top left 160%;
    background-size: 60%, 68%;
  }
}

@media (min-width: 1280px) {
  .layout {
    flex-direction: row;
    width: 100%;
    background-image: url(../../img/Ellipse1.png),
      url(../../img/EllipseDesktop2.png);
    background-position: bottom left, top right;
    background-size: 33%, 40%;
  }
  .logo {
    background-position: bottom 80% left 50%;
    background-size: 435.2px, 419.5px;
    width: 40%;
    min-height: 500px;
  }
  .logo::after {
    position: static;
    font-size: 46px;
  }

  .form {
    backdrop-filter: blur(5px);
    width: 60%;
    height: 100vh;
  }
  .background {
    min-width: 100vw;
    background: linear-gradient(90deg, #e7eaf2 40%, #f0f0f0 40%);
  }
}

@media (max-height: 900px) {
  .logo {
    display: none;
  }
  .form {
    height: 100vh;
  }
}

@media (max-height: 660px) {
  .form {
    scale: 0.9;
  }
} */

body {
  background: linear-gradient(90deg, #e7eaf2 40%, #f0f0f0 40%);
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.layout {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: url(../../img/Ellipse1.png),
    url(../../img/EllipseDesktop2.png);
  background-repeat: no-repeat;
  background-position: bottom left, top right;
  background-size: 33%, 40%;
}
.logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
}
.logo {
  position: relative;
  background-image: url(../../img/Login.png);
  background-position: top center;
  background-repeat: no-repeat;
  width: 500px;
  height: 488px;
}
.logo::after {
  position: absolute;
  content: "Finance App";
  font-weight: 500;
  font-size: 42px;
  transform: translate(-50%);
  left: 50%;
  bottom: 0px;
}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60vw;
}
@media (max-width: 767px) {
  .logo_container {
    display: none;
  }
  .container {
    background: white;
  }
  .form {
    width: 100vw;
  }
}

@media (max-width: 1279px) {
  body {
    background: #e7eaf2;
  }
  .layout {
    display: flex;
    flex-direction: column;
    width: 768px;
    height: 950px;
    margin: auto;
  }
  .logo {
    height: 100%;
    width: 100vw;
    background-size: 60%;
    background-position: left bottom;
  }
  .logo::after {
    transform: translate(-50%);
    font-size: 30px;
    width: 176px;
    text-align: right;
    left: 82%;
    bottom: 40%;
  }
  .logo_container {
    width: 523px;
    height: 40vw;
  }
  .container {
    background-size: 50% 30%, 50% 30%;
  }
  .form {
    height: 70vw;
    width: 100%;
  }
}
@media (min-width: 1600px) {
  body {
    width: 100%;
    height: 100vh;
    margin: 0;
  }
  .layout {
    max-width: 1600px;
    margin: 0 auto;
  }
}

@media ((max-width: 1269px ) and (max-height: 900px)) {
  .logo_container {
    display: none;
  }
  .layout {
    margin: auto;
    height: auto;
  }
}

@media ((max-width: 1269px ) and (max-height: 670px)) {
  .layout {
    margin: auto;
    height: 600px;
  }
}
