@media (max-width: 767px) {
  .b > p {
    display: none;
  }
}

@media (min-width: 768px) {
  .a,
  .b,
  .c {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .a {
    flex-direction: column;
    width: 100%;
    background-color: transparent;
    background-image: url(../../img/Ellipse1.png),
      url(../../img/EllipseDesktop2.png);
    background-repeat: no-repeat;
    background-position: bottom left, top left 160%;
    background-size: 50%, 70%;
  }
  .b {
    position: relative;
    background-image: url(../../img/Login.png);
    background-repeat: no-repeat;
    background-position: left 30% bottom 50%;
    background-size: 30%;
    width: 100%;
    align-items: end;
  }
  .b > p {
    color: black;
    font-size: 3vw;
    position: sticky;
    bottom: 80%;
    left: 70%;
  }
  .c {
    height: 100vh;
    position: relative;
    backdrop-filter: blur(5px);
    width: 60%;
  }
  .d {
    display: flex;
    margin: 0px 0px 0px 0px;
    align-items: center;
    width: 100%;
    height: 100vh;
    justify-content: center;
    background-color: #e7eaf2;
  }
}

@media (min-width: 1280px) {
  .a,
  .b,
  .c {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .a {
    flex-direction: row;
    width: 100%;
    background-color: transparent;
    background-image: url(../../img/Ellipse1.png),
      url(../../img/EllipseDesktop2.png);
    background-repeat: no-repeat;
    background-position: bottom left, top right;
    background-size: 33%, 40%;
  }
  .b {
    position: relative;
    background-image: url(../../img/Login.png);
    background-repeat: no-repeat;
    background-position: left 50% bottom 50%;
    background-size: 70%;
    width: 40%;
    align-items: end;
  }
  .b > p {
    color: black;
    font-size: 2.5vw;
    position: sticky;
    bottom: 15%;
    left: 10%;
  }
  .c {
    height: 100vh;
    position: relative;
    backdrop-filter: blur(5px);
    width: 60%;
  }
  .d {
    display: flex;
    margin: 0px 0px 0px 0px;
    align-items: center;
    width: 100%;
    height: 100vh;
    justify-content: center;
    background: linear-gradient(90deg, #e7eaf2 40%, #f0f0f0 40%);
  }
}
