body {
  font-family: Circe;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Poppins;
  font-weight: 700;
}

ul {
  list-style: none;
  padding: 0;
}

button:focus,
input:focus,
textarea:focus,
select:focus,
a:focus {
  outline: 2px solid rgba(36, 204, 167, 1);
}
