:root {
  --black: #000000;
  --blue200: #81e1ff;
  --gray300: #e0e0e0;
  --gray400: #bdbdbd;
  --gray500: #a6a6a6;
  --green300: #24cca7;
  --green300-transparent50: #24cca780;
  --indigo300: #6e78e8;
  --indigo500-transparent50: #4b58e280;
  --indigo500: #4a56e2;
  --orange100: #ffd8d0;
  --pink300: #ff6596;
  --pink300-tansparent50: #ff659680;
  --purple200: #c5baff;
  --purple50: #efeffc;
  --red200: #fd9498;
  --teal400: #00ad84;
  --white: #ffffff;
  --white-transparent40: #ffffff66;
  --yellow300: #fed057;
  --gray-row-divider: #dcdcdf;
  --background-gray: #e7eaf2;
}

body {
  font-family: Circe;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Poppins;
  font-weight: 700;
  color: #ffffff66;
}

ul {
  list-style: none;
  padding: 0;
}

button:focus,
input:focus,
textarea:focus {
  outline: none;
}
