:root {
  --black: #000000;
  --black-transparent25: #00000040;
  --blue200: #81e1ff;
  --gray300: #e0e0e0;
  --gray400: #bdbdbd;
  --gray500: #a6a6a6;
  --green300: #24cca7;
  --green300-transparent50: #24cca780;
  --indigo50: #e7eaf2;
  --indigo300: #6e78e8;
  --indigo500-transparent50: #4b58e280;
  --indigo500: #4a56e2;
  --orange100: #ffd8d0;
  --pink300: #ff6596;
  --pink300-transparent50: #ff659680;
  --purple50: #efeffc;
  --purple200: #c5baff;
  --red200: #fd9498;
  --red700: #ff0000;
  --red700-transparent05: #ff00000d;
  --teal400: #00ad84;
  --white: #ffffff;
  --white-transparent20: #ffffff33;
  --white-transparent40: #ffffff66;
  --yellow300: #fed057;
  --gray-row-divider: #dcdcdf;
}

html,
body {
  font-family: Circe;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Poppins;
  font-weight: 400;
}

ul {
  list-style: none;
  padding: 0;
}

input:focus-visible,
textarea:focus-visible {
  outline: none;
}

button:focus-visible {
  outline: 1px solid var(--indigo300);
}

table,
button,
textarea,
input {
  font-family: inherit;
  font-weight: 400;
}
