.layout,
.logo,
.form,
.background {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo,
.form,
.background {
  width: 100%;
}
.logo,
.background,
.layout {
  background-repeat: no-repeat;
}
.layout,
.background {
  min-height: 100vh;
}
.logo,
.form {
  position: relative;
}
.form {
  height: 70vh;
}
.layout {
  background-color: transparent;
}
.logo {
  align-items: end;
  background-image: url(../../img/Register.png);
}
.logo::after {
  content: "Finance app";
  color: var(--black);
  font-size: 46px;
  font-weight: 400;
}
@media (max-width: 767px) {
  .logo {
    display: none;
  }
}
@media (min-width: 768px) {
  .layout {
    flex-direction: column;
    width: 768px;
  }
  .logo {
    background-position: left 25% bottom 50%;
    background-size: 260.26px, 250px;
    height: 30vh;
  }
  .logo::after {
    position: relative;
    font-size: 40px;
    bottom: 100px;
    left: 150px;
  }

  .background {
    height: 100vh;
    background-color: #e7eaf2;
    background-image: url(../../img/Ellipse1.png),
      url(../../img/EllipseDesktop2.png);
    background-position: bottom left, top left 160%;
    background-size: 60%, 68%;
  }
}

@media (min-width: 1280px) {
  .layout {
    flex-direction: row;
    width: 100%;
    background-image: url(../../img/Ellipse1.png),
      url(../../img/EllipseDesktop2.png);
    background-position: bottom left, top right;
    background-size: 33%, 40%;
  }
  .logo {
    background-position: bottom 80% left 50%;
    background-size: 435.2px, 419.5px;
    width: 40%;
    min-height: 500px;
  }
  .logo::after {
    position: static;
    font-size: 46px;
  }

  .form {
    backdrop-filter: blur(5px);
    width: 60%;
    height: 100vh;
  }
  .background {
    min-width: 100vw;
    background: linear-gradient(90deg, #e7eaf2 40%, #f0f0f0 40%);
  }
}

@media (max-height: 900px) {
  .logo {
    display: none;
  }
  .form {
    height: 100vh;
  }
}

@media (max-height: 660px) {
  .form {
    scale: 0.9;
  }
}
