.navBox {
    background-color: rgba(231, 234, 242, 1);
}

.navItem {
    padding: 5px;
    background-color: rgba(74, 86, 226, 1);
    width: 44px;
    height: 44px;
    margin: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navItem:hover {
    background-color: rgba(74, 86, 226, 0.5);
    filter: blur(10px);
}

.nav {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}