.form,
.label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  position: relative;
  font-size: 30px;
  font-weight: bold;
}

.container {
  width: 533px;
  height: 468px;
  background-color: white;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;
}
.form {
  flex-direction: column;
  gap: 10px;
}
.input {
  border: none;
  border-bottom: 1px solid grey;
  height: 40px;
  width: 80%;
  padding-left: 50px;
}
.wallet {
  fill: black;
  width: 16px;
  height: 16px;
}