.select {
  border: 1px solid var(--black);
  border-radius: 30px;
  width: 100%;
}

.dropdown {
  border-radius: 20px;
  background-color: #ffffffb2;
  width: 100%;
  box-shadow: 0px 6px 15px 0px #0000001a;

  overflow: hidden;

  backdrop-filter: blur(15px);
}

.menuList {
  height: 157px;
}
.menuList::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.option {
  height: 28px;
  padding-left: 20px;
  vertical-align: middle;

  padding-top: 5px;
}
.option:hover {
  background-color: var(--white);
}
.option:first-child {
  margin-top: 10px;
}

.valueContainer {
  padding-left: 20px;
}

.dropdownIndicator {
  margin-right: 20px;
}
