.header {
  height: 60px;
  margin-inline: 20px;
  display: flex;
  justify-self: center;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white)
}

.headerBox {
  display: flex;
  align-items: center;
}

.headerBoxNext {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  font-family: Poppins;
  padding-left: 15px;
  font-weight: 700;
  font-size: 18px;
  color: var(--black);
}

.headerUser {
  padding-right: 8px;
  color: var(--gray400);
  font-size: 18px;
  line-height: 0.67;
  margin: 0;
}

.headerButton {
  border: none;
  background-color: var(--white);
  display: flex;
  cursor: pointer;
}

.headerExit {
  display: none;
}

@media screen and (min-width: 768px) {
  .header {
    border: 1px solid var(--white);
    height: 80px;
    margin-inline: 32px;
    max-width: 1280px;
  }
  .headerExit {
    display: block;
    color: var(--gray400);
    font-size: 18px;
    margin: 0;
    padding-left: 8px;
  }
  .logo {
    font-size: 30px;
    padding-left: 20px;
  }
  .headerButton {
    border-left: 1px solid var(--gray400);
    padding-left: 10px;
  }
  .iconWallet {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    margin: 0 auto;
    padding-inline: 16px;
    max-width: 1280px;
  }}