.balance {
  width: 336px;
  height: 80px;
  border-radius: 30px;
  background-color: aquamarine;
  text-align: center;
  padding-top: 10px;
  /* margin: auto; */
} /* TODO to be deleted once balance component is created*/

.currency {
  width: 336px;
  height: 174px;
  margin: 0 auto;
  padding-top: 30px;
  text-align: center;
  color: white;

  border-radius: 30px;

  background-color: #4a56e2;
} /* TODO to be deleted once currency component is created*/

.main {
  width: 704px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.box1 {
  width: 704px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  margin: auto;
  gap: 32px;
}

.wrapper {
  width: 336px;
}
.transactions-box {
  margin: auto;
}

@media screen and (min-width: 1280px) {
  .box1 {
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    gap: 30px;
    width: 475px;
    padding-top: 6px;
    margin: 0;
    padding-left: 16px;
    padding-right: 69px;

    border-right: 1px solid var(--gray-row-divider);
  }

  .wrapper {
    width: 393px;
  }

  .currency,
  .balance {
    width: 100%;
  }

  .currency {
    height: 331px;
  }

  .main {
    flex-direction: row;
    gap: 0;
    width: fit-content;
    /* width: 1280px; */
  }

  .transactions-box {
    padding-right: 16px;
    padding-top: 46px;
    padding-left: 69px;
    margin: 0;
  }
}
