.container,
.logo__container,
.form,
.label,
.link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form,
.label,
.iconWallet,
.link {
  width: 100%;
}
.container,
.form,
.label {
  flex-direction: column;
}
.title,
.input {
  color: var(--black);
  position: relative;
}

.inputLabelError {
  position: relative;
  color: var(--red700);
  font-weight: 400;
  border-bottom: 2px solid var(--red700);
  background-color: var(--red700-transparent05);
}
.inputLabelError::after {
  content: "This field is required";
  color: var(--red700);
  font-size: 12px;
  position: absolute;
  bottom: -20px;
  left: 0;
}

.container {
  width: 523px;
  height: 488px;
  background-color: var(--white);
  border-radius: 5%;
  gap: 30px;
  margin: 0;
}

.logo__container {
  gap: 15px;
}

.label div {
  color: var(--red700);
  font-size: 12px;
  padding-top: 5px;
}

.form {
  gap: 25px;
  margin-bottom: 50px;
}

.label {
  position: relative;
  width: 80%;
  height: 50px;
  border-radius: 5px;
}

.iconWallet {
  height: 40px;
}

.title {
  font-family: Poppins;
  font-weight: 600;
  font-size: 32px;
}

.input {
  border: none;
  border-bottom: 1px solid var(--gray300);
  background-color: transparent;
  height: 50px;
  width: 100%;
  padding-left: 60px;
  font-size: 18px;
  transition: 2s;
}

.input:is(:focus, :active) {
  outline: none;
}
.input:is(:focus, :active) + .padlock__svg {
  transform: matrix(0, 1, 1, 0, 0, 0);
  transition: 2s;
}

.padlock__svg,
.envelope__svg {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 25px;
  height: auto;
  z-index: 1;
  top: 50%;
}

.padlock__svg {
  left: 30px;
}

.envelope__svg {
  left: 28.5px;
}
.link {
  text-decoration: none;
}

@media (max-width: 767px) {
  .container {
    width: auto;
    margin: 0 auto;
  }

  .input {
    padding-left: 50px;
    font-size: 16px;
  }
  .label {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    margin: 0;
  }
}
