.main {
  position: relative;
}
@media screen and (max-width: 768px) {
  .main {
    width: 280px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
  }
}
