.main {
  width: 100%;
  position: relative;
  flex-grow: 1;
  padding: 10px;
  box-sizing: border-box;
  min-height: calc(100dvh - 80px);
  min-height: calc(100vh - 80px);
  padding: 0;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: bottom left, top right;
}

.blur {
  backdrop-filter: blur(25px);
  background-color: var(--white-transparent20);
  width: 100%;
  flex-grow: 1;
}

@media screen and (max-width: 767px) {
  .main {
    background-color: var(--indigo50);
    height: calc(100dvh - 60px);
    height: calc(100vh - 60px);
    margin-bottom: 60px;
  }
  .mainContainer {
    width: 280px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
  }
}
